#home{
    background: #ffc107;
    color: white;
}

.caixa{
    padding: 60px 0;
    border: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 93%;
    }
}